# Load Packages

In [2]:
import pandas as pd

# Load and visualize dataset

In [4]:
df_train = pd.read_parquet("processed_data/CTCF_train.parquet")
df_train.head()

,Chromosome,Start,End,label,seq
0,chr8,23215000,23215200,0,AACAGTGTGTGTTAATTTAATTGTTTGGGTAATCTAATCTAATCTA...
1,chr17,60742000,60742200,0,AGCCTCCCTGCCCAGCGCTGGAAGTGGGTCTCCCGAAACCGGCTAT...
2,chr22,20856200,20856400,0,ATATGTATGCATACATATATATATATATAGAGAGAGAGAGAAACCA...
3,chr7,109347600,109347800,0,CTGTCTGGCTTCCAACTAAAAAATATAATGGTACACATGAGTTAGT...
4,chr8,87908600,87908800,0,ATATTGGTTTGGATAATATGAACATTCTAACAATATTAATTTTTCT...

In [5]:
df_test = pd.read_parquet("processed_data/CTCF_test.parquet")
df_test.head()

,Chromosome,Start,End,label,seq
0,chr1,84553800,84554000,0,ACTAGCATAATTGGTATTAGTTCTGCCTTCGAAAATCCAATGTAGA...
1,chr1,42190600,42190800,0,CACTGGCATCTCCCACCTGAAGTTTCACAATGGTCTACTTAGCCTT...
2,chr1,52709000,52709200,0,ATGGGGGTGGGAGAAGAAGGTATGAGAAGACATCTGAGAAGTGACA...
3,chr21,36105600,36105800,0,CCTCTTCATATACTCAGTCATGGGTGAAGATTACATTCTTGAGTGA...
4,chr1,122236000,122236200,0,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...