In [7]:
from scripts.generate_input_data import create_labeled_data

fai_path = "/home/jesslyn/Courses/IMLB/genome/hg19.fa.fai"
output_folder = "/home/jesslyn/Courses/IMLB/processed_data"
create_labeled_data('CTCF', fai_path, output_folder)

Labels generated

In [8]:
import pandas as pd

df = pd.read_csv("processed_data/CTCF_labels.tsv", sep='\t')
df.head()

  Chromosome      Start        End  label
0       chr2  231324000  231324200      0
1       chr9  107216600  107216800      0
2      chr13   38680800   38681000      0
3      chr19   58522000   58522200      0
4       chr8   53744200   53744400      0

In [9]:
df.shape

(13686202, 4)

In [11]:
df['label'].value_counts()

label
0    13606130
1       80072
Name: count, dtype: int64