In [2]:
from scripts.generate_input_data import create_labeled_data

fai_path = "/home/jesslyn/Courses/IMLB/genome/hg19.fa.fai"
output_folder = "/home/jesslyn/Courses/IMLB/processed_data"
create_labeled_data('CTCF', fai_path, output_folder)

Labels generated

In [1]:
import pandas as pd

df = pd.read_csv("processed_data/CTCF_labels.tsv", sep='\t')
df.head()

  Chromosome      Start        End  label
0       chr2  231324000  231324200      0
1       chr9  107216600  107216800      0
2      chr13   38680800   38681000      0
3      chr19   58522000   58522200      0
4       chr8   53744200   53744400      0

In [4]:
df.shape

(13686202, 4)

In [2]:
df['label'].value_counts()

label
0    13606130
1       80072
Name: count, dtype: int64

In [5]:
df.groupby('Chromosome')['label'].value_counts()

Chromosome  label
chr1        0        1175902
            1           7949
chr10       0         637934
            1           3843
chr11       0         634038
            1           4555
chr12       0         629382
            1           4323
chr13       0         549793
            1           1974
chr14       0         509224
            1           2770
chr15       0         487436
            1           2668
chr16       0         427199
            1           2855
chr17       0         378688
            1           3748
chr18       0         368397
            1           1773
chr19       0         277716
            1           3133
chr2        0        1145688
            1           6321
chr20       0         294325
            1           2342
chr21       0         231049
            1            817
chr22       0         243797
            1           1641
chr3        0         932735
            1           5302
chr4        0         907507
            1           3834
chr5        0         853522
            1           4458
chr6        0         805002
            1           4715
chr7        0         753142
            1           3987
chr8        0         691061
            1           3633
chr9        0         672593
            1           3431
Name: count, dtype: int64